@model studentCourseProj.Models.Course
@{
    ViewBag.Title = "AddCourse";
}

<style type="text/css">
    .jumbotron {
        background-image: url(../../Content//Images//large.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 25%;
        color: white;
        text-shadow: black 0.3em 0.3em 0.3em;

      
    }


    


</style>

<div class="jumbotron">
    <h1 class="text-center">Add Course</h1>
</div>



<div class="container" style="width:40%;margin-top:2%">

    @using (Html.BeginForm("SaveCourse", "Course", FormMethod.Post))
    {

        <div class="form-group">
            @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", @placeholder = "Course Name" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @placeholder = "Start Date ( MM / DD / YY )" })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @placeholder = "End Date ( MM / DD / YY )" })
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-block btn-primary" />
        </div>
    }

</div>